RewriteEngine On
# If an existing asset or directory is requested go to it as it is
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
RewriteRule ^ - [L]

# If the requested resource doesn't exist, use index.html
RewriteRule ^ /index.html

RewriteCond %{HTTP_HOST} ^masscom-ci\\.com [NC] 
RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://www.masscom-ci.com/$1 [R,L]
RewriteCond %{HTTP_HOST} ^masscom\-ci\.com\,addon\-masscom\-ci\.com_hapu6257\.odns\.fr$ [OR]
RewriteCond %{HTTP_HOST} ^www\.masscom\-ci\.com\,addon\-masscom\-ci\.com_hapu6257\.odns\.fr$
RewriteRule ^/?$ "http\:\/\/https\:\/\/" [R=301,L]

